{% extends 'admin/base.html.twig' %}

{% block body %}
    <h1>Create new job</h1>

    {% include 'admin/table.html.twig' with {'form': form} only %}

    <a href="{{ path('admin.job.list') }}" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Back to list
    </a>
{% endblock %}