<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Jobeet{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <a class="navbar-brand text-dark" href="{{ path('job.list') }}">Jobeet</a>
                <ul class="navbar-nav">
                    <li class="nav-link">
                        <a class="nav-link text-dark pt-1 pb-1 pl-2 pr-2 bg-white" style="border: 1px solid #C9C9C9; border-radius: 5px;" href="#">
                            Post a Job
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
